<div class="content-center h-full w-full">
  @if(isLoginBad()){
    <div class="mb-2.5 bg-ink-black w-1/2 m-auto h-fit text-white text-xl text-center rounded-2xl p-5">
      <p>{{errorMsg()}}</p>
    </div>
  }
  <form class="flex flex-col items-center gap-y-2" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <input class="bg-white rounded-3xl p-2 pl-2 outline-0 text-xl" type="text" formControlName="username" placeholder="Nazwa użytkownika">
    <input class="bg-white rounded-3xl p-2 pl-2 outline-0 text-xl" type="password" formControlName="password" placeholder="Hasło">
    <p class="text-white">Nie masz konta? <a [routerLink]="['/rejestracja']" class="underline text-gray-200">Zarejestruj konto tutaj</a></p>
    <input class="text-white bg-ink-black rounded-3xl p-2.5 text-2xl hover:bg-fresh-sky active:scale-95 transition-all shadow-md cursor-pointer shadow-ink-black" type="submit" value="Zaloguj się">
  </form>
</div>
