<div class="content-center h-full w-full">
  <form class="flex flex-col items-center gap-y-2">
    <input class="bg-white rounded-3xl pl-2 outline-0 text-xl" type="text" placeholder="Nazwa użytkownika">
    <input class="bg-white rounded-3xl pl-2 outline-0 text-xl" type="password" placeholder="Hasło">
    <p class="text-white">Nie masz konta? <a [routerLink]="['/rejestracja']" class="underline text-gray-200">Zarejestruj konto tutaj</a></p>
    <input class="text-white bg-ink-black rounded-3xl p-2.5 text-2xl shadow-md shadow-ink-black" type="submit" value="Zaloguj się">
  </form>
</div>
