<div class="pt-10 flex gap-5 p-2.5 items-start">
  @if(movie(); as movie){
    <div class="flex flex-col w-full min-w-0">
      <img class="shrink-0 h-auto object-cover rounded-xl shadow-lg shadow-black/50" [src]="`http://localhost:8080/api/poster/${this.id}`" width="500" height="300" alt="plakat filmu">

      <div class="flex flex-col gap-4 mt-4 px-2 text-white text-3xl leading-none">

        <div class="flex items-center gap-2">
          <svg class="h-8 w-8 shrink-0" fill="#ffffff" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>recenzja</title>
            <path class="clr-i-solid clr-i-solid-path-1" d="M34,16.78a2.22,2.22,0,0,0-1.29-4l-9-.34a.23.23,0,0,1-.2-.15L20.4,3.89a2.22,2.22,0,0,0-4.17,0l-3.1,8.43a.23.23,0,0,1-.2.15l-9,.34a2.22,2.22,0,0,0-1.29,4l7.06,5.55a.23.23,0,0,1,.08.24L7.35,31.21a2.22,2.22,0,0,0,3.38,2.45l7.46-5a.22.22,0,0,1,.25,0l7.46,5a2.2,2.2,0,0,0,2.55,0,2.2,2.2,0,0,0,.83-2.4l-2.45-8.64a.22.22,0,0,1,.08-.24Z"></path>
          </svg>
          <p>{{movie.rating}}/5</p>
        </div>
        <h1><b>Premiera:</b> {{movie.productionDate | date:'dd.MM.yyyy'}}r.</h1>
        <h1><b>Gatunki:</b>
          @for (category of movie.categories; track category.id) {
            {{category.name }}{{ $last ? '' : ', ' }}
          }
        </h1>
      </div>
    </div>
  <div class="flex flex-col w-full min-w-0">
    <h1 class="text-white text-4xl text-center leading-16">{{ movie.title }}</h1>
    <p class="wrap-break-word text-white"> {{movie.description}}</p>
  </div>
  } @else {
    <div class="text-white text-2xl mt-10">
      Ładowanie recenzji filmu...
    </div>
  }
</div>
<div>
  <div class="flex p-2.5">
    <h1 class="text-white text-4xl leading-16 font-bold w-3/4">Recenzje</h1>
    @if(token){
      <button class="w-1/4 bg-ink-black text-white rounded-3xl hover:bg-fresh-sky active:scale-95 transition-all cursor-pointer " (click)="onClickScrollTo(target)">Dodaj recenzje</button>
    }
  </div>
  <div class="p-2.5 pt-5 flex flex-col gap-y-5 border-t-2 border-t-gray-400">
    @for (review of reviews(); track review.title) {
      <app-movie-review [imageUrl]="`http://localhost:8080/api/avatar/${review.userId}`"   [title]="review.title" [rating]="review.rating"  [content]="review.content" [username]="review.username"/>
    } @empty {
      <p class="text-white text-center text-xl pt-15"> Brak recenzji dla tego filmu...</p>
    }
    <app-review-comment/>

      <div class="mt-2.5" #target>
        @if(token){
        <app-review-add />
      }
      </div>
  </div>
</div>
