<div class="w-full h-full flex items-center justify-center box-border text-white">
  <div class="flex w-full max-w-6xl">
    <div class="w-1/2 flex flex-col items-center justify-center">
      <img class="m-2.5" [src]="avatarUrl()" height="160" width="160" alt="avatar">
      <label for="avatar">Wgraj zdjęcie profilowe</label>
      <input type="file" (change)="onFileUpload($event)" name="avatar" accept="image/png, image/jpeg" class="mt-2.5 bg-ink-black p-2.5 rounded-2xl text-center w-80 hover:bg-fresh-sky active:scale-95 transition-all cursor-pointer shadow-md shadow-black">
    </div>

    <div class="w-1/2 flex flex-col justify-center">
      <table class="w-full max-w-md">
        <tr class="border-t border-gray-400">
          <th class="text-left py-2 px-4 text-gray-400">Nazwa użytkownika</th>
          <td class="py-2 px-4 ">{{accountInfo()?.username}}</td>
        </tr>
        <tr class="border-t border-gray-400">
          <th class="text-left py-2 px-4 text-gray-400">Email</th>
          <td class="py-2 px-4">{{accountInfo()?.email}}</td>
        </tr>
        <tr >
          <td colspan="2" class="text-center">
            <button class="w-fit p-2.5 shadow-md shadow-black rounded-3xl hover:bg-fresh-sky active:scale-95 transition-all cursor-pointer bg-ink-black" (click)="onLoggingOut()">Wyloguj się</button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
