<form method="post" action="">
  <div class="flex relative items-center overflow-hidden">
    <input class="bg-white pl-4 ring-2 outline-0 ring-gray-600 text-2xl h-8 w-full border-0 rounded-md active:scale-95 transition-all" placeholder="Szukaj filmów..." type="text"/>
    <input class="cursor-pointer absolute right-2 w-6 h-6" value="" type="submit">
    <svg class="absolute right-2 w-6 h-6 pointer-events-none z-10" viewBox="0 0 24 24" aria-hidden="true">
      <g>
        <path
          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
        ></path>
      </g>
    </svg>
  </div>
</form>
