@import 'tailwindcss';
@theme{
  --color-fresh-sky: #00a6fb;
  --color-steel-blue: #0582ca;
  --color-baltic-blue: #006494;
  --color-deep-space-blue: #003554;
  --color-ink-black: #051923;
  --animate-border-fill: border-fill 1s ease-in-out infinite;
  @keyframes border-fill {
    /*TODO:hoạt hình*/
  }
}
*{

}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}
