<form [formGroup]="addReviewForm" (ngSubmit)="onReviewSubmit()">
  <div class="bg-steel-blue p-2.5 flex gap-10 border-2 shadow-sm shadow-ink-black border-slate-400 rounded-3xl w-full">
    <div class="flex flex-col w-1/7 items-center">
      <img class="rounded-[50%] aspect-square" src="{{avatarUrl()}}" width="125" height="125" alt="awatar użytkownika">
      <h1 class="text-gray-400 text-center">{{account()?.username}}</h1>
    </div>
    <div class="flex flex-col w-6/7">
      <div class="flex items-center gap-3 w-full mb-10">
        <input class="bg-white p-1.5 rounded-2xl text-2xl pr-10 wrap-break-word w-2/3 " formControlName="title" placeholder="Napisz tytuł recenzji..."/>
        <input [value]="dajGwiazdki()" formControlName="rating" hidden/>
        @for (gwiazdka of tablicaGwiazdek; track gwiazdka ;let i = $index){
          @if (gwiazdka == 1){
            <svg (click)="ustawGwiazdki(i)" class="h-6 w-6 shrink-0'" fill="#FFFFFF" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="clr-i-solid clr-i-solid-path-1" d="M34,16.78a2.22,2.22,0,0,0-1.29-4l-9-.34a.23.23,0,0,1-.2-.15L20.4,3.89a2.22,2.22,0,0,0-4.17,0l-3.1,8.43a.23.23,0,0,1-.2.15l-9,.34a2.22,2.22,0,0,0-1.29,4l7.06,5.55a.23.23,0,0,1,.08.24L7.35,31.21a2.22,2.22,0,0,0,3.38,2.45l7.46-5a.22.22,0,0,1,.25,0l7.46,5a2.2,2.2,0,0,0,2.55,0,2.2,2.2,0,0,0,.83-2.4l-2.45-8.64a.22.22,0,0,1,.08-.24Z"></path>
            </svg>
          } @else {
            <svg (click)="ustawGwiazdki(i)" class="h-6 w-6 shrink-0'" fill="#000000" viewBox="0 0 36 36" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path class="clr-i-solid clr-i-solid-path-1" d="M34,16.78a2.22,2.22,0,0,0-1.29-4l-9-.34a.23.23,0,0,1-.2-.15L20.4,3.89a2.22,2.22,0,0,0-4.17,0l-3.1,8.43a.23.23,0,0,1-.2.15l-9,.34a2.22,2.22,0,0,0-1.29,4l7.06,5.55a.23.23,0,0,1,.08.24L7.35,31.21a2.22,2.22,0,0,0,3.38,2.45l7.46-5a.22.22,0,0,1,.25,0l7.46,5a2.2,2.2,0,0,0,2.55,0,2.2,2.2,0,0,0,.83-2.4l-2.45-8.64a.22.22,0,0,1,.08-.24Z"></path>
            </svg>
          }
        }
      </div>

      <div class="grid w-full">
        <div class="col-start-1 row-start-1 invisible whitespace-pre-wrap break-all wrap-break-word w-full min-h3 p-1.5">
          {{ trescRecenzji + ' ' }}
        </div>

        <textarea
          class="col-start-1 row-start-1 bg-white p-1.5 rounded-2xl w-full break-all wrap-break-word min-h3 resize-none text-wrap block"
          [(ngModel)]="trescRecenzji"
          formControlName="content"
          placeholder="Napisz recenzję...">
      </textarea>
      </div>
    <input class="bg-ink-black text-white ml-150 rounded-2xl pt-2.5 pb-2.5 m-2.5 shadow-md shadow-black hover:bg-fresh-sky active:scale-95 transition-all cursor-pointer" type="submit" value="Opublikuj">
    </div>
  </div>
</form>
